@font-face {
    font-family: "Gllasken";
    src: url("./Gllasken-BF67ad0e06bb8a3.ttf");
}

@font-face {
    font-family: "Nothern";
    src: url("./NorthenGlitch-BF67ad0c351ddba.otf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body {
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
        /* overflow-y: scroll; */
}

header{
    height: 100vh;
    width: 100%;
    background-color: rgb(21, 21, 21);
    color: white;
}

header video{
    width: 100%;
    z-index: -1;
    position: absolute;
}

.top-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    padding-top: 4vh;
}

.top-box h1{
    font-family: "Gllasken";
    font-size: 1.5rem;
    font-weight: 600;
    overflow: hidden;
}

.top-box h1 span{
    display: inline-block;
    font-family: "Gllasken";
}

.hide{
    opacity: 0;
}

.top-line{
    width: 100%;
    height: 100px;
}

svg{
    width: 100%;
    height: 100px;
}

.top-line2 {
    width: 100%;
    height: 100px;
}

.svg2 {
    width: 100%;
    height: 100px;
}

.middle{
    padding: 0vh 3vw;
}

.middle i{
    margin-right: 14vw;
}

.expand{
    opacity: 1;
}

.shrink{
    opacity: 0;
}

.middle h1{
    font-family: "Nothern";
    font-size: 6rem;
}

.middle h1 span{
    display: inline-block;
    font-family: "Nothern";
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh 3vw;
}

.quote h1{
    font-family: "Gllasken";
    font-size: 1.5rem;
    font-weight: 400;
    overflow: hidden;
}

.quote h1 span{
    display: inline-block;
    font-family: "Gllasken";
}

/* nav{
    position: fixed;
    width: 100%;
    padding: 1.5rem;
    color: #000;
    mix-blend-mode: difference;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 2; */
    /* cursor: pointer;
    text-transform: uppercase;
    background-color: chocolate;
} */ */

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 40px; */
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
}

#place h3, h4{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Gllasken";
    overflow: hidden;
}

#place h3 span{
    display: inline-block;
    font-family: "Gllasken";
}

#place h4 span {
    display: inline-block;
    font-family: "Gllasken";
}

#pro-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.img-gallery{
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    /* top: 0;
    left: 0; */
    cursor: pointer;
    transition: transform 0.3s ease;
}


#about{
    height: 85%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 5vw;
    /* background-image: url(https://images.unsplash.com/photo-1542297796-5309338c2570?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
}

#about h2{
    width: 62%;
    letter-spacing: -4px;
    font-size: 5rem;
    line-height: 75px;
    font-weight: 600;
}

#about .svg3{
    height: 100%;
    width: 200px;
    /* z-index: -2; */
}

#about-part2{
    width: 38%;
    height: 100%;
    /* border-left: 2px solid black; */
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Gllasken";
}

#about-part2 p{
    font-size: 1.1rem;
    font-weight: 500;
}

#icons i{
    font-size: 2.5rem;
    padding: 2vh .5vw;
}

#work{
    height: 75%;
    width: 100%;
    /* background-color: bisque; */
    /* border-top: 2px solid black; */
    /* border-bottom: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 5vw;
    /* background-image: url(https://images.unsplash.com/photo-1614170099583-1f4b064fe55b?q=80&w=1958&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-size: cover;
}

#work .svg5 {
    height: 100%;
    width: 200px;
    /* z-index: -2; */
}

#work1{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border-right: 2px solid black; */
    /* padding-right: 50px; */
}

#work1 h3, i{
    font-size: 3rem;
    font-weight: 500;
    font-family: "Gllasken";
}

#work2{
    width: 70%;
    height: 100%;
    padding: 4vh 0vw;
}

.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work2-part:nth-child(1) {
    /* border-bottom: 2px solid black; */
}

.work2-part .elem{
    width: 50%;
    height: 100%;
}

.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
}

.work2-part .elem:nth-child(2) {
    padding-left: 5vw;
}

.elem p{
    padding-top: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.digitalDesign{
    width: 100%;
    height: 150%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
}

.digitalDesign h1{
    font-family: "Gllasken";
    color: white;
    mix-blend-mode: difference;
    font-size: 14rem;
    position: absolute;
    z-index: 10;
}

.digitalDesign .row1{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    width: 100%;
    /* background-color: aqua; */
    padding: 0 2vw;
}

.imageGallery{
    height: 400px;
    width: 400px;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    padding: 0 2vw;
}

.row3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    width: 100%;
    /* background-color: rebeccapurple; */
    padding: 0 2vw;
}

.row1 img{
    object-fit: cover;
    height: 350px;
    width: 350px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.row2 img {
    object-fit: cover;
    height: 350px;
    width: 350px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.row3 img {
    object-fit: cover;
    height: 350px;
    width: 350px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.text-demo{
    position: relative;
    width: max-content;
    height: max-content;
    padding: 10px;
}

.text-demo p{
    position: relative;
    font-size: 1.2rem;
}

.text-revealer{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.text-revealer:after {
    content: "";
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.photoshoot{
    width: 100%;
    height: calc(120vh - 60px);
    position: relative;
}

.textBgPhH1{
    font-size: 10rem;
    z-index: -100;
    font-family: "Gllasken";
    position: absolute;
    top: 30%;
    left: 20%;
    mix-blend-mode: difference;
}

.imges{
    width: 75px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    margin: 20px;
}

.imges img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.architectDesign{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.archiText{
    font-size: 5rem;
    font-family: "Gllasken";
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 1000px;
    margin: 0 auto 2em auto;
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;
}

.indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallr{
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}

.gallr-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 20px;
    height: 400px;
    margin: 0 5px;
    background: #000;
    overflow: hidden;
    transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
}

.gallr-item img{
    width: 800px;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}

.interactionDesign{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.interactionDesign h1{
    font-size: 8rem;
    font-family: "Gllasken";
    /* position: absolute; */
}

.interaction{
    top: 150px;
    left: 320px;
}

.design{
    top: 150px;
    right: 320px;
}

.video-Id{
    position: absolute;
    top: 1000px;
    height: 98%;
    width: 98%;
}
/* 
.block-1{
    background: url("https://plus.unsplash.com/premium_photo-1720371280114-03ef7bfc0a1f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%;
    background-size: cover;
}

.block-2{
    background: url("https://plus.unsplash.com/premium_photo-1720448972781-91b85867c099?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%;
    background-size: cover;
}

.block-3{
    background: url("https://plus.unsplash.com/premium_photo-1721910821693-458e4d9a8377?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url("https://plus.unsplash.com/premium_photo-1720032304826-142409fbc11d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url("https://plus.unsplash.com/premium_photo-1721080250988-95be925527f3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%;
    background-size: cover;
}

.block-6 {
    background: url("https://plus.unsplash.com/premium_photo-1720430157140-6bb920f831b9?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat 50% 50%;
    background-size: cover;
}
 */
